<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/jdbc
            http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd">

    <!-- DataSource Configuration -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/BatchDB?createDatabaseIfNotExist=true&amp;
                                allowPublicKeyRetrieval=true&amp;
                                useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <jdbc:initialize-database>
        <jdbc:script location="org/springframework/batch/core/schema-drop-mysql.sql"/>
        <jdbc:script location="org/springframework/batch/core/schema-mysql.sql"/>
    </jdbc:initialize-database>

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager"/>

    <!-- Job Repository -->
    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="databaseType" value="mysql"/>
    </bean>

    <!-- Job Launcher -->
    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository"/>
    </bean>

<!--    &lt;!&ndash; Job and Step Configuration &ndash;&gt;
    <bean id="exampleJob" class="org.springframework.batch.core.configuration.annotation.JobBuilderFactory">
        <property name="jobRepository" ref="jobRepository"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    &lt;!&ndash; Define steps and jobs here &ndash;&gt;
    &lt;!&ndash; Example Step &ndash;&gt;
    <bean id="exampleStep" class="org.springframework.batch.core.step.tasklet.TaskletStep">
        <property name="tasklet" ref="exampleTasklet"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="exampleTasklet" class="org.springframework.batch.core.step.tasklet.Tasklet">
        <property name="yourTaskletProperty" value="value"/>
    </bean>

    &lt;!&ndash; Job Definition &ndash;&gt;
    <bean id="job" class="org.springframework.batch.core.Job">
        <property name="name" value="exampleJob"/>
        <property name="steps">
            <list>
                <ref bean="exampleStep"/>
            </list>
        </property>
    </bean>-->
</beans>